.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login-header img {
  width: 100px;
}

.login-header h1 {
  color: #333;
  font-size: 1.5em;
  /*   teste */
  box-shadow: 0.6em 0 0 #eee;
  margin: 2rem 1rem;
  width: 11ch;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  animation: caret 0.2s step-end infinite alternate, type 2s steps(23, end);
  /* fim do teste */
}

.login-input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login-button {
  background-color: #ee665c;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login-button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.h1t {
  box-shadow: 0.6em 0 0 #eee;
  margin: 2rem 1rem;
  width: 23ch;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  animation: caret 0.5s step-end infinite alternate, type 5s steps(23, end);
}

@keyframes type {
  0% {
    width: 0;
  }
}
@keyframes caret {
  50% {
    box-shadow: 0.6em 0 0 transparent;
  }
}
